---
import Icon from 'astro-icon';
import Modal from '../../../components/Modal/Modal.astro';
import { getOffices } from '../../../services/offices';

const offices = await getOffices();

console.log('offices', offices);
---

<div class="flex flex-col gap-4 shadow-lg w-full md:w-1/2">
  <div class="flex flex-col gap-4 bg-cyan-800 p-5 text-white h-full">
    <h3 class="text-center font-semibold">
      Información de contacto - consultorios
    </h3>

    {
      offices.map((office) => (
        <button
          class="view-map py-2 px-4 bg-primary text-slate-100 rounded cursor-pointer hover:bg-cyan-950"
          data-city={office.city}
          data-address={office.address}
          data-province={office.province}
          data-cp={office.cp}
          data-phone={office.phone}
          data-email={office.email}
          data-lat={office.lat}
          data-lng={office.lng}
          id={`${office.id}`}
        >
          <span class="flex gap-2 items-center">
            <Icon
              name="mdi:map-marker"
              class="w-5 h-5 text-slate-50"
            />

            {office.city}
          </span>
          <hr />
          <span class="text-sm">
            {office.address} - {office.phone}
          </span>
        </button>
      ))
    }

    <!-- Social Media Links -->
    <ul class="flex gap-4">
      <li>
        <a href="#">
          <Icon
            name="mdi:facebook"
            class="w-[24px] text-slate-50"
          /></a
        >
      </li>
      <li>
        <a href="#">
          <Icon
            name="mdi:instagram"
            class="w-[24px] text-slate-50"
          /></a
        >
      </li>
      <li>
        <a href="#">
          <Icon
            name="mdi:whatsapp"
            class="w-[24px] text-slate-50"
          />
        </a>
      </li>
      <li>
        <a href="#">
          <Icon
            name="mdi:twitter"
            class="w-[24px] text-slate-50"
          />
        </a>
      </li>
    </ul>
  </div>

  <Modal />
</div>

<script>
  let lat = -34.9205012;
  let lng = -57.9943701;
  const buttons = document.querySelectorAll('.view-map');
  const modal = document.getElementById('btn-modal');
  buttons.forEach((button) => {
    button.addEventListener('click', () => viewMap(button));
  });

  const viewMap = (button) => {
    lat = parseFloat(button.dataset.lat);
    lng = parseFloat(button.dataset.lng);
    const title = document.getElementById('title');
    title.textContent = button.dataset.city;
    const address = document.getElementById('address');
    address.textContent = `${button.dataset.address}, ${button.dataset.province} - CP ${button.dataset.cp}`;

    const phone = document.getElementById('phone');
    phone.textContent = button.dataset.phone;

    const email = document.getElementById('email');
    email.textContent = button.dataset.email;

    //@ts-ignore
    modal.checked = true;
    //@ts-ignore
    initMap();
  };

  const mapa = document.getElementById('mapas');

  //@ts-ignore
  window.initMap = function () {
    const coord = { lat, lng };

    //@ts-ignore
    let map = new google.maps.Map(mapa, {
      center: coord,
      zoom: 14,
    });
    //@ts-ignore
    let marker = new google.maps.Marker({
      position: coord,
      map: map,
    });
  };
</script>

<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeRYDNFRPnw7Hh7qs4Cog5H6CXmgwh5go&callback=initMap"
>
console.log( 'PASS_MAPS', PASS_MAPS );
</script>
