---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero/Hero.astro';
import Card from '../components/Card/Card.astro';

import { getTratamientos } from '../services/tratamientos';

const tratamientos = await getTratamientos();
---

<Layout
  title="Doctora Laura Rodriguez"
  slug=""
>
  <Hero />
  <main class="px-10 py-10 md:py-0">
    <p class="font-sans ...">1The quick brown fox ...</p>
    <p class="font-serif ...">The quick brown fox ...</p>
    <p class="font-mono ...">The quick brown fox ...</p>
    <p>Prueba</p>

    <div class="flex flex-col justify-center md:flex-row p-[5%]">
      {
        tratamientos.map((tratamiento) => (
          <Card
            id={tratamiento.id}
            title={tratamiento.title}
            body={tratamiento.body}
            href={tratamiento.href}
            image={tratamiento.image}
          />
        ))
      }
    </div>
  </main>
</Layout>
